@model CombustiblesGT.Models.Despacho

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Despacho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVehiculo" class="control-label"></label>
                <select asp-for="IdVehiculo" class ="form-control" asp-items="ViewBag.IdVehiculo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdBomba" class="control-label"></label>
                <select asp-for="IdBomba" class ="form-control" asp-items="ViewBag.IdBomba"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalDespachado" class="control-label"></label>
                <input asp-for="TotalDespachado" class="form-control" />
                <span asp-validation-for="TotalDespachado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
